@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 팔레트 (색깔 꺼내쓰셈) */ 
:root {
  /* 폰트1 */
  --font-title: 'Cinzel', 'GmarketSansMedium', sans-serif;

  /* 폰트 2 */
  --font-body: 'Noto Sans KR', sans-serif;

  /* 메인 텍스트 */
  --text-primary: #f0f0f0;
  --text-secondary: #aaaaaa;

  /* 강조 색상 */
  --accent-color: #007bff;
  --accent-hover: #0056b3;

  /* 배경 색상 */
  --bg-dark: #121212;
  --bg-overlay: rgba(0, 0, 0, 0.7);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #091428;
  /* background-image: url("https://i.namu.wiki/i/rH1H--5wDFrFU_ChVexauhT9hV2VWBTEKloloSBedMHHdmotjMt9N4MjS2ZW8ikEkG3LBAkr3bDC4Z35zR4YpQ.webp"); */
  background-size: cover; /* 화면에 꽉 차게 조절 */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* 스크롤 내려도 배경은 고정되게 */
  
  /* 서버 코드 내용을 반영 (변수 사용 및 폰트 설정) */
  color: var(--text-primary); 
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: 700;
}

.navbar {
  background-color: rgba(33, 37, 41, 0.9) !important; /* 약간 투명한 검은색 */
  backdrop-filter: blur(5px); /* 뒤가 흐릿하게 비치는 효과 */
  
}

